home/.vim/.netrwhist
.bundle
*.sw[nop]
home/.gitconfig.d/user
home/.gitconfig.d/local
home/.tmux/resurrect/
home/.tmux/plugins/
home/.tmux/user.conf
home/.vim/spell
home/.vim/backup
home/.vim/plugged
home/.vim/local
home/.oh-my-zsh-custom/*
!home/.oh-my-zsh-custom/continuity.zsh-theme
