[include]
  # load everyone's shared gitconfig
  path = ~/.gitconfig.d/shared

  # load local changes last so personal settings can override shared settings
  path = ~/.gitconfig.d/user
  path = ~/.gitconfig.d/local
